// 320px +
.header {
    position: relative;
}

.header-container {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--header-border-color);
}

.logo {
    color: var(--link-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-second-part {
    color: var(--logo-color);
}

.list-link {
    display: none;
}

.list-address {
    display: none;
}

.mobile-menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        fill: var(--link-color);
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    background-color: var(--primary-background-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
    fill: var(--link-color);
}

.mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
}

.mobile-menu__list-link {
    padding-left: 25px;
    margin-bottom: 170px;
}

.mobile-menu__list-item:not(:last-child) {
    margin-bottom: 36px;
}

.mobile-menu__link {
    display: block;
    position: relative;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

.mobile-menu__link.current {
    color: var(--link-color);
}

.mobile-menu__list-address {
    padding-left: 25px;
    margin-bottom: 40px;
}

.mobile-menu__link-phone {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--link-color);
}

.mobile-menu__link-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--link-address-color);
}

.mobile-menu__address-item:not(:last-child) {
    margin-bottom: 20px;
}

.mobile-menu__social-network {
    padding-left: 25px;
}

.mobile-menu__network-item:not(:last-child) {
    margin-right: 10px;
}

.mobile-menu__network-item:not(:last-child)::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 6px;
}

.mobile-menu__network-link {
    color: var(--link-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;    
    letter-spacing: 0.02em;
}

// 480px +
@media screen and (min-width: 480px) {
.mobile-menu__list-link {
    padding-left: 25px;
    margin-bottom: 302px;
}

.mobile-menu__link {
    font-size: 40px;
}

.mobile-menu__link-phone {
    font-size: 34px;
}

.mobile-menu__link-mail {
    font-size: 24px;
}

.mobile-menu__network-item:not(:last-child)::after {
    margin-left: 10px;
}

.mobile-menu__network-link {
    font-size: 18px;
}
}

// 768px +
@media screen and (min-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 1px solid var(--header-border-color);
    }

    .mobile-menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

.logo {
    color: var(--link-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.logo-second-part {
    color: var(--logo-color);
}

.header-item {
        display: flex;
        align-items: center;
    }

    .list-link {
        display: flex;
        margin-left: 87px;
    }

    .link {
        display: block;
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--link-color);
        }
    }

    .list-item:not(:last-child) {
        margin-right: 50px;
    }

    .link.current {
        color: var(--link-color);

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: 0;
            left: 0;
            border-radius: 2px;
            background-color: var(--link-color);
        }
    }

    .list-address {
        display: flex;
        margin-top: 0;
        margin-left: auto;
        flex-wrap: wrap;
        margin-left: 96px;
    }

    .link-address {
        color: var(--link-address-color);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--link-color);
        }
    }

    .address-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .mail-icon {
        width: 14px;
        height: 10px;
        margin-right: 8px;
        fill: currentColor;

        &:hover,
        &:focus {
            fill: var(--link-color);
        }
    }

    .phone-icon {
        width: 10px;
        height: 14px;
        margin-right: 8px;
        fill: currentColor;

        &:hover,
        &:focus {
            fill: var(--link-color);
        }
    }
}

// 1200px +
@media screen and (min-width: 1200px) {
    .header-item {
    display: flex;
    align-items: center;
}

.header-border {
    border-bottom: 1px solid var(--header-border-color);
}

.logo {
    color: var(--link-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-second-part {
    color: var(--logo-color);
}

.list-link {
    display: flex;
    margin-left: 93px;
}

.link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

.list-item:not(:last-child) {
    margin-right: 50px;
}

.link.current {
    color: var(--link-color);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        background-color: var(--link-color);
    }
}

.list-address {
    display: flex;
    margin-top: 0;
    margin-left: auto;
}

.link-address {
    color: var(--link-address-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

.address-item:nth-child(n+1) {
    margin-bottom: 0;
}

.address-item:not(:last-child) {
    margin-right: 50px;
}

.mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--link-color);
    }
}

.phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--link-color);
    }
}

.mail {
    margin-left: auto;
}
}


// .header-item {
//     display: flex;
//     align-items: center;
// }


// .list-link {
//     display: flex;
//     margin-left: 93px;
// }

// .link {
//     display: block;
//     position: relative;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     color: var(--primary-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14px;
//     letter-spacing: 0.02em;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--link-color);
//     }
// }

// .list-item:not(:last-child) {
//     margin-right: 50px;
// }

// .link.current {
//     color: var(--link-color);

//     &::after {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 4px;
//         bottom: 0;
//         left: 0;
//         border-radius: 2px;
//         background-color: var(--link-color);
//     }
// }

// .list-address {
//     display: flex;
//     margin-top: 0;
//     margin-left: auto;
// }

// .link-address {
//     color: var(--link-address-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     display: flex;
//     align-items: center;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--link-color);
//     }
// }

// .address-item:not(:last-child) {
//     margin-right: 50px;
// }

// .mail-icon {
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
//     fill: currentColor;

//     &:hover,
//     &:focus {
//         fill: var(--link-color);
//     }
// }

// .phone-icon {
//     width: 10px;
//     height: 16px;
//     margin-right: 10px;
//     fill: currentColor;

//     &:hover,
//     &:focus {
//         fill: var(--link-color);
//     }
// }

// .mail {
//     margin-left: auto;
// }
