:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --primary-color: #212121;
    --link-address-color: #757575;
    --link-color: #2196F3;
    --logo-color: #000000;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --color-transparant: rgba(255, 255, 255, 0.6);
    --active-button-color: #188CE8;
    --section-color: #F5F4FA;
    --border-color: #EEEEEE;
    --header-border-color: #ECECEC;
    --background-color-image: #C4C4C4;
    --social-network-color: #AFB1B8;
}